/.idea/
/.vscode/
**/*.iml
*.iml
/target/
**/target/
/application.yml
/depstree.txt
*.xml.versionsBackup
**/*.xml.versionsBackup
pactconfig-local.properties

/.idea/
/.vscode/
jenkinsfiles
README_INTERNAL.md
.owaspignore

